body {
    background-color: rgb(201, 91, 108);
}

h1,
h2 {
    background-color: brown;
    font-size: 40px;
    text-align: center;
}

img {
    width: 25%;
    height: auto;
}

h2 {
    font-size: 32px;
}

header {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    background-color: rgb(221, 24, 24);
}

.odd {
    background-color: rgb(255, 72, 72);
}

.even {
    background-color: firebrick;
}

.odd,
.even {
    font-size: 32px;
    list-style: none;
    text-align: center;
}
